.addtodo_container {
  border-radius: 5px;
  border: 3px solid #fbfbfb;
  background-color: #c83349;
  padding: 20px;
  width: 60%;
}
.addtodo {
  display: flex;
  justify-content: center;
  margin: 2em;
}
